const mix = require('laravel-mix');

mix.js('resources/assets/js/app.js', 'public/assets/js/app.js')
    .sass('resources/assets/scss/app.scss', 'public/assets/css')
    .options({
        postCss: [require('tailwindcss'), require('autoprefixer')],
    })
    .version();

mix.browserSync({
    proxy: "earthmuse.test",
    notify: false,
    ghostMode: false,
});
